:root {
  /*Color*/
  --white-color: #fff;
  --black-color: #140a00;
  --grey-dark-color: #909090;
  /*padding*/
  --padding: 12px;
  /*Font Size*/
  --font-large: 28px;
  --font-medium: 16px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto";
}

ul {
  list-style: none;
}

li {
  float: left;
}

header {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: calc(var(--padding) * 2.5);
  padding-right: calc(var(--padding) * 14px);
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
  text-align: center;
}

header .home .fa-github {
  font-size: 32px;
  margin-right: var(--padding);
}

header .home .search {
  box-sizing: border-box;
  text-align: center;
  color: var(--grey-dark-color);
  border: 1.5px solid var(--grey-dark-color);
  padding-left: 10px;
  padding-right: 140px;
  padding-bottom: 3px;
  border-radius: 7px 7px 7px 7px;
  margin-right: var(--padding);
}

header .home .menu {
  text-align: center;
  display: inline-block;
  flex-direction: row;
  margin-right: var(--padding);
}

header .home .menu li {
  display: flex;
  flex-direction: row;
  margin-right: var(--padding);
}

header .icon {
  display: flex;
  text-align: right;
  flex-direction: row;
  vertical-align: middle;
  justify-content: space-between;
  align-items: center;
}

header .icon .fa-bell {
  margin-right: 26px;
}
header .icon .fa-plus {
  margin-right: 6px;
}
header .icon .fa-caret-down {
  font-size: var(--font-micro);
  margin-right: 20px;
}

header .icon img {
  text-align: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-right: 6px;
}

.hidden_menu {
  display: none;
}

.icon > span.icon {
  line-height: 48px;
}

@media screen and (max-width: 870px) {
  header .home .menu {
    display: none;
  }

  .home .search {
    display: none;
  }

  .home .fa-github {
    display: flex;
    position: absolute;
    top: 4px;
    left: 50%;
    align-items: center;
  }

  .hidden_menu {
    display: block;
    position: absolute;
    text-align: center;
    left: 3%;
    font-size: 24px;
    color: var(--white-color);
  }

  .icon .fa-plus {
    display: none;
  }

  .icon .fa-caret-down {
    display: none;
  }
  .icon img {
    display: none;
  }

  .home .menu.active {
    display: flex;
  }
}
